<!DOCTYPE html>
<html lang="en">

<head th:insert="~{fragments/layout :: headerFragment}"></div>
</head>
<script>
	$(document).ready(function() {

	  $('#addButton').click(function() {
	    console.log("on click");
		var newBucketName = $("#bucketName").val();
	    console.log("adding this newBucketName:" + newBucketName);
		$("#message").removeClass();
		$.ajax({
	      type: "POST",
	      url: "/s3/addBucket",
	      data: JSON.stringify({
	        bucketName: newBucketName
	      }),
	      contentType: "application/json",
	      success: function(response) {
	        console.log("response is:", response);
			if (response == 'SUCCESS') {
	          $("#message").addClass("alert alert-success");
			  $("#message").text("Bucket added");
	        } else {
	          $("#message").addClass("alert alert-danger");
			  $("#message").text(response);

	        }
	      },
	      error: function(xhr, status, error) {
			$("#message").addClass("alert alert-danger");
			$("#message").text("An error occured");

	        console.error("Error:", status, error);
			

	      }
	    });

	  });

	}); //ready	  
	  
	</script>
<body>


<div class="container">
	<nav aria-label="breadcrumb">
	  <ol class="breadcrumb">
	    <li class="breadcrumb-item"><a href="/">Home</a></li>
	    <li class="breadcrumb-item"><a href="/s3buckets">S3 Buckets</a></li>
		<li class="breadcrumb-item"><a th:href="'/s3bucket?bucketname='+${bucket}">S3 Objects</a></li>
	    <li class="breadcrumb-item active" aria-current="page">Add New S3 File</li>
	  </ol>
	</nav>

<h1>Add New S3 File</h1>

<p/>
<b>Bucket: </b> 
    <div th:remove="tag" th:text=${bucket}/>
  <input type="hidden" id="bucket" th:value="${bucket}"/>
<p/>
<div id="message" role="alert"></div>
<p/>

<form method="POST" action="/s3/uploadFile" enctype="multipart/form-data">
   <input type="hidden" name="bucket" th:value="${bucket}"/>
   <table>
      <tr>
         <td>
            <form:label path="file">Select a file to upload</form:label><br/>
         </td>
         <td><input type="file" name="file" /></td>
      </tr>
	  <tr><td><br/></td></tr>
      <tr>
         <td>
		  <input type="submit" class="btn btn-primary" value="Submit" />
		 <a href="javascript:history.back()" class="btn btn-secondary" role="button">Cancel</a>
		</td>
      </tr>
   </table>
</form>

<p/>

</div>

</body>
</html>