<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
</head>
<body>



<div class="container">

<h1>This is a basic bootstrap page</h1>

<table class="table table-bordered">
 <thead class="table-dark">
<tr><td>ID</td><td>First Name</td><td>Last Name</td><td>Email</td><td>Update</td><td>Delete</td></tr>
</thead>
<tr><td>1</td><td>Joe</td><td>Johnson</td><td>foo@bar.com</td><td>update</td><td>delete</td></tr>
</table>
</div>


</body>
</html>