<!DOCTYPE html>
<html lang="en">
	<head th:insert="~{fragments/layout :: headerFragment}"></div>
	</head>
<body>



<div class="container">

	<nav aria-label="breadcrumb">
	  <ol class="breadcrumb">
	    <li class="breadcrumb-item"><a href="/">Home</a></li>
		<li class="breadcrumb-item"><a href="/dynamo">Dynamo Tables</a></li>
		<li class="breadcrumb-item"><a th:href="'/dynamo/describeTable?tableName='+${tableName}">Dynamo Table</a></li>
		<li class="breadcrumb-item active" aria-current="page">Dynamo Table Content</li>

		  </ol>
	</nav>

	
<h1>Scan Dynamo Table</h1>

<b>Table</b>: <div th:remove="tag" th:text="${tableName}"/>
<p/>
<div th:if="${not #strings.isEmpty(error)}" id="message" class="alert alert-danger" role="alert" th:text="${error}"></div>

<p th:if="${#lists.size(items)==0}"><i>There are no items in this table</i></p>
	
<div th:if="${items!=null}">
	<div th:each="item : ${items}">
		<div th:text="${item}"/>
	<br/>
	</div>
</div>	
<p/>
<a th:href="'/dynamo/addnewentry?tableName='+${tableName}" class="btn btn-primary" role="button">Add New Item</a>

<p/>

</body>
</html>