<!DOCTYPE html>
<html lang="en">
	<head th:include="fragments/layout :: headerFragment">
	</head>
<body>



<div class="container">

	<nav aria-label="breadcrumb">
	  <ol class="breadcrumb">
	    <li class="breadcrumb-item"><a href="/">Home</a></li>
		<li class="breadcrumb-item"><a href="/dynamo">Dynamo Tables</a></li>
		<li class="breadcrumb-item active" aria-current="page">Dynamo Table</li>
	  </ol>
	</nav>

	
<h1>Dynamo Table</h1>

<div th:if="${not #strings.isEmpty(error)}" id="message" class="alert alert-danger" role="alert" th:text="${error}"></div>

<table class="table" th:if="${tableInfo!=null}">
  <tbody>
    <tr>
      <td width="20%"><b>Table Name</b></td>
      <td th:text="${tableInfo.tableName()}"/>
    </tr>
	<tr>
	  <td><b>Table ARN</b></td>
	  <td th:text="${tableInfo.tableArn()}"/>
	</tr>
	<tr>
	  <td><b>Table Status</b></td>
	  <td th:text="${tableInfo.tableStatus()}"/>
	</tr>
	<tr>
	  <td><b>Items Count</b></td>
	  <td th:text="${tableInfo.itemCount()}"/>
	</tr>
	<tr>
	  <td><b>Size (bytes)</b></td>
	  <td th:text="${tableInfo.tableSizeBytes()}"/>
	</tr>
	  </tbody>
</table>	

<div th:if="${tableInfo!=null}">
<h2>Attributes</h2>
<table class="table">
			<tr th:each="a : ${tableInfo.attributeDefinitions}">
		<td width="20%"><b th:text="${a.attributeName()}"/></td>
		<td th:text="${a.attributeType()}"/>
	</tr>
	</table>
</div>	
<p/>
<p/>

</body>
</html>